parameters:
    level: max
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
