parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: missingType.iterableValue

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
